.ContentImageList .TitleList {
    text-align: center;
}

.ContentImageList .TitleList h1 {
    font-weight: bold;
    color: #4f76e0;
    font-size: 58px;
    margin: 0;
    text-decoration: underline #c0bfbfef;
}

button {
    padding: 10px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 12px;
    background: #4682b4;
    color: #fff;
    margin: 10px;
    font-weight: bold;
    opacity: 0.9;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.ContentImageList .ContentList {
    justify-content: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}